In [1]:
import json
import pandas as pd
import numpy as np
from time import time


data = pd.read_csv("../data/cleaned_reviews.csv").drop("Unnamed: 0", axis=1)

def add_user_reviews(x):
    ur = user_reviews.loc[x["reviewerID"]].drop(x["asin"]).values.tolist()
    mr = movie_reviews.loc[x["asin"]].drop(x["reviewerID"]).values.tolist()
    x["userReviews"] = " ".join(list(map(lambda x: x[0], ur)))
    x["movieReviews"] = " ".join(list(map(lambda x: x[0], mr)))
    return x

In [2]:
user_item_review = data.drop("reviewText", axis=1)
user_reviews = pd.pivot_table(data,
                              index=["reviewerID", "asin"],
                              aggfunc=lambda x: x).drop("overall", axis=1)
    
movie_reviews = pd.pivot_table(data,
                               index=["asin", "reviewerID"],
                               aggfunc=lambda x: x).drop("overall", axis=1)

In [3]:
s = pd.Timestamp(int(time()), unit="s")
grouped_cleaned_data = user_item_review.apply(add_user_reviews, axis=1)
e = pd.Timestamp(int(time()), unit="s")
print("took {}".format(e - s))

took 0 days 00:02:05

In [4]:
grouped_cleaned_data.head()

,reviewerID,asin,overall,userReviews,movieReviews
0,A11N155CW1UV02,B000H00VBQ,2.0,"['i', 'really', 'like', 'the', 'characters', '...","['this', 'show', 'always', 'is', 'excellent', ..."
1,A3BC8O2KCL29V2,B000H00VBQ,5.0,"['this', 'is', 'one', 'good', 'show', 'it', 'i...","['i', 'had', 'big', 'expectations', 'because',..."
2,A60D5HQFOTSOM,B000H00VBQ,1.0,"['i', 'watched', 'this', 'a', 'couple', 'of', ...","['i', 'had', 'big', 'expectations', 'because',..."
3,A1RJPIGRSNX4PW,B000H00VBQ,4.0,"['the', 'acting', 'was', 'excellent', 'the', '...","['i', 'had', 'big', 'expectations', 'because',..."
4,A16XRPF40679KG,B000H00VBQ,5.0,"['as', 'many', 'people', 'said', 'this', 'show...","['i', 'had', 'big', 'expectations', 'because',..."

In [5]:
grouped_cleaned_data.to_csv("../data/unembedded_grouped_cleaned_data.csv")